$color-primary: #07e6ff;
$color-secondary: #E22866;
$color-light: hsla(0, 0%, 100%, 0.85);
$color-background: white;
$color-card-background: white;
$color-text-primary: #364040;
$color-text-secondary: #CFCFCF;
