$color-primary: #008C8C;
$color-secondary: #E22866;
$color-light: hsla(0, 0%, 100%, 0.85);
$color-background: #20313B;
$color-card-background: white;
$color-text-primary: #364040;
$color-text-secondary: #CFCFCF;
